body {
    background: #ede0d4;
}

#credits {
    text-align: right;
    font-family: "Lucida Console", monospace;
    font-size: 25px;
    color: #ede0d4;
    letter-spacing: 2px;
    word-spacing: 2px;
}


#title {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 100px;
    color: #7f5539;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 200px;
}

#banner {
    text-align: right;
    font-family: "Lucida Console", monospace;
    font-size:25px;
    color: #ede0d4;
    letter-spacing: 2px;
    word-spacing: 2px;
    background:#7f5539;
    padding: 15px;
}

