@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/* defines / controls the steps in the CSS flashing animation sequence */

body {
    background: #f5ebe0;
}

.temps {
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    color: black;
    text-align: center;
}

/* apply to the CLASS "temps" */

.htemps {
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    color: #7f5539;
    text-align: center;
}

.celsius, .fahrenheit {
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    color: #7f5539;
    text-align: center;
}


#credits {
    font-style: italic;
}

/* apply to the ID "credits" */


#actual_temps {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 80px;
}

#title {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 100px;
    color: #7f5539;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 50px;
}

.banner {
    text-align: right;
    font-family: "Lucida Console", monospace;
    font-size:25px;
    color: #ede0d4;
    letter-spacing: 2px;
    word-spacing: 2px;
    background:#073b4c;
    padding: 15px;
}

#warning {
    color: red;
    padding-top: 50px;
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    animation: flash 1s infinite;
    /* apply the predefined animation sequence to warning ID with 1 second duration for forever */

}





