body {
    background: #f5ebe0;
}

.temps {
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    color: black;
    text-align: center;
}

.htemps {
    font-family: "Lucida Console", monospace;
    font-size: 50px;
    color: #7f5539;
    text-align: center;
}

#credits {
    font-style: italic;
}

#actual_temps: {
    display: flex;
}

#title {
    text-align: center;
    font-family: "Lucida Console", monospace;
    font-size: 100px;
    color: #7f5539;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-top: 200px;
}

.banner {
    text-align: right;
    font-family: "Lucida Console", monospace;
    font-size:25px;
    color: #ede0d4;
    letter-spacing: 2px;
    word-spacing: 2px;
    background:#073b4c;
    padding: 15px;
}

#warning {
    color: red;
}

#actual temps {
    color: red;
}

